body{
    background-color: #e0cdab;
    padding: 0;
    margin: 0;
}
button{
    border: none;
    background: none;
    cursor: pointer;
}
h1, h2, h3{
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
}
.shadow{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);

}
input, select{
    border: none;
    outline: none;
    background: none;
}
.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    flex: 1;
}

.books{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    row-gap: 1rem;
}

.book-card{
    background: rgba(250, 240, 224, 0.78);
    border: 0.3rem solid rgba(105, 42, 42, 0.1);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 15rem;
    align-items: center;
    color: rgba(56, 29, 29, 0.85);
    height: 30rem;
    cursor: pointer;
}
.book-card:hover{
    background: #c9ac7e;
}
.book-card h3{
    text-align: center;
    font-size: 1.3rem;
    margin: 0.3rem;
}

.book-card h3:hover{
    color: #1e1448;
    text-decoration: underline;
}

.book-card .authors{
    word-wrap: break-word;
    text-align: center;
    margin: 0.3rem;
}

.book-card img{
    width: 13rem;
    height: auto;
    object-fit: contain;
}
header, footer{
    background-color: rgba(39, 72, 20, 0.79);

}
h1{
    padding: 1.5rem;
    text-align: center;
    color: #e0cdab;
    margin: 0;
    font-size: 2.4rem;

}
.search{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 1rem;
}
.search-bar, .filter{
    border: 0.2rem solid black;
    background: #756ab4;
    padding: 0.3rem 1rem;

}
#error, #loading{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    object-fit: contain;
    visibility: hidden;
    height: auto;

}
#error {
    width:30rem;
}

#loading{
    width: 15rem;
    animation: rotation 2s linear infinite;

}
@keyframes rotation {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
.search-bar{
    width: 14rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;

}
.search-bar input{
    width: 11rem;
}
.search-bar input::placeholder, .search-bar input, .filter select{
    border: none;
    background: #756ab4;
    color: #e0cdab;
    font-family: Candara;
    font-size: 1.1rem;

}
.caret{
    padding: 0;
}
.caret img{
    width: 2.5rem;
    height: auto;
}
.caret:last-child{
    transform: scaleX(-1);
}
button:hover{
    transform: scale(1.1);
    filter: drop-shadow(0 0 3px #01090c);
}
.caret:last-child:hover{
    transform: scale(1.1) scaleX(-1);
    filter: drop-shadow(0 0 3px #01090c);
}
.search-img{
    width: 1rem;
    height: auto;
    object-fit: contain;
}
#pagination{
    justify-content: center;
    align-items: center;
    display: none;
}
footer p{
    text-align: center;
    font-size: 1.3rem;
    color: #e0cdab;

}
.pages{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.page-button{
    border: 0.2rem solid rgba(39, 72, 20, 0.79);
    background-color: rgba(183, 243, 151, 0.71);
    color: #052c02;
    font-weight: bold;
    font-size: 1.3rem;
}
.page-button:hover{
    background-color: rgba(98, 248, 18, 0.71);
    transform: scale(1.1);
}

.active{
    background-color: rgba(98, 248, 18, 0.71);
}

.book-description{
    text-align: center;
}
.book-description:last-child{
    font-family: Ebrima
}
#description{
    display: none;
    position: fixed;
    top: 10vh;
    left: 50%;
    width: 70%;
    height: auto;
    max-height: 60%;
    transform: translateX(-50%);
    background: #756ab4;
    border: 1rem solid #1e1448;
    color: #e0cdab;
    font-size: 1.4rem;
    z-index: 10000;
    padding: 0 1rem;
    overflow-y: auto ;
    overflow-x: hidden;
}

#cross {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 3rem;
    height: auto;
    object-fit: contain;
    cursor: pointer;
    z-index: 10001;

}

#cross:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

#no-results{
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: #052c02;
    font-size: 2.3rem;
    display: none;

}

#show-more{
    border: 0.5rem solid #052c02;
    background: rgba(26, 133, 18, 0.66);
    color: #e0cdab;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 30%;
}